<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MongoDB test</h1>
    <h2>list back from the server</h2>
    <ul>
        <% for(var i=0; i < data.length; i++) {%>
        <li>
            <p><%= data[i]._id %></p>
            <p><%= data[i].something %></p>
        </li>
        <% } %>
    </ul>
</body>
</html>